@model ProductViewModel

<header>
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="fa fa-archive"></i>
            </span>@ViewData["Title"]
        </h3>
    </div>
</header>

<div class="text-center">

    @await Html.PartialAsync("_ProductCollection", Model)
    
</div>
